/* Write your CSS here */
list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.button {
  background-color: #382f5a;
  border: 2px solid #d4d2db;
  color: #c4c4c4;
  width: 150px;
  height: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  outline: none;
}
